name: Build and Push to pages

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Push dist to pages branch
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git checkout --orphan pages
          cp robots.txt /tmp/robots.txt
          git rm -rf .
          cp -r dist/. .
          mv /tmp/robots.txt ./robots.txt
          rm -rf dist
          rm -rf node_modules

          git add .
          git commit -m "Deploy dist to pages branch"
          git push --force https://x-access-token:${GH_TOKEN}@github.com/galleniz/galleniz.github.io-function-iterator.git pages
